<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Im a boilerplate</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div >
    <header>
      <nav>
        {{#if logged_in}}
        <button class="no-button" id="logout">logout</button>
        <button class="no-button" id="search">search</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  <script src="./js/search.js"></script>
  {{/if}}
</body>

</html>
