<div class="text-center">
  <h1>Convo</h1>
</div>



<div class="row">
  <div class="col-md-6 text-center">
    <h2 class="font-styling">Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login"></label>
        <input class="form-input" type="text" id="email-login" placeholder="email" />
      </div>
      <br />
      <div class="form-group">
        <label for="password-login"></label>
        <input class="form-input" type="password" id="password-login" placeholder="password" />
      </div>
      <br />
      <div class="form-fix form-group">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
  </div>

  <div class="col-md-6 text-center">
    <h2 class="font-styling">Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup"></label>
        <input class="form-input" type="text" id="name-signup" placeholder="name" />
      </div>
      <br />
      <div class="form-group">
        <label for="email-signup"></label>
        <input class="form-input" type="text" id="email-signup" placeholder="email" />
      </div>
      <br />
      <div class="form-group">
        <label for="password-signup"></label>
        <input class="form-input" type="password" id="password-signup" placeholder="password" />
      </div>
      <br />
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>