<div class="container">
    <h2>Convo with {{friend.name}}</h2>
    <div id="messageBoard">
        {{#if messages}}
            {{#each messages}}
                <p>{{userName}}: {{messageText}}</p>
            {{/each}}
        {{else}}
            <p>no messies</p>
        {{/if}}
    </div>
    <form id='form'method="POST">
        <textarea id="messageInput" name="messageText" class="message-input form-control" placeholder="Type your message..."></textarea>
        <button id="submitMessage" class="message-submit btn btn-primary" type="submit">Submit</button>
    </form>
</div>

