
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .message-input {
            width: 100%;
            height: 80px;
        }

        .message-submit {
            margin-top: 10px;
        }

        .message-card {
            margin-top: 10px;
            padding: 10px;
            background-color: #b319f4;
            border-radius: 5px;
        }
    </style>


<div class="card">
    <div class="card-header">
        <h5 class="card-title">${data[i].name}</h5>
        <p class="card-text">Timestamp</p>
    </div>

    <div class="card-body">
        <p class="card-text">User messsage data</p>
    </div>
</div>

<div class="container">
    <h2>Convo</h2>
    <div id="messageBoard">
        {{#if messages}}
            {{#each messages}}
                <p>{{messageText}}</p>
            {{/each}}
        {{else}}
            <p>no messies</p>
        {{/if}}
    </div>
    <form method="POST">
        <textarea id="messageInput" name="messageText" class="message-input form-control" placeholder="Type your message..."></textarea>
        <button id="submitMessage" class="message-submit btn btn-primary" type="submit">Submit</button>
    </form>
</div>

<!--<script src="/js/messages.js"></script> -->