<div class="text-center">
    <h1>Convo</h1>
    <div id="imageContainer">
        <img id="currentImage" src="/images/purple-bear.jpg" alt="Profile Icon">
    </div>
    <div id="friends-container"></div>
</div>

<script src="./js/profile.js"></script>