{{!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convo Profile</title>
</head>


<div class="container">

    <div class="text-center">
        <h1>Convo</h1>
    </div>


    <div class="row mt-5">
        <div class="col-12">
            <div class="text-center">
                <img src="your-profile-picture.jpg" alt="Profile Picture" class="rounded-circle" width="200"
                    height="200">
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-12 col-md-6 col-lg-4 g-4">
            <div class="card p-2">
                <div class="card-body">
                    <h5 class="card-title">Convo 1</h5>
                    <p class="card-text">This is the first Convo.</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 g-4">
            <div class="card p-2">
                <div class="card-body">
                    <h5 class="card-title">Convo 2</h5>
                    <p class="card-text">This is the second Convo.</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 g-4">
            <div class="card p-2">
                <div class="card-body">
                    <h5 class="card-title">Convo 3</h5>
                    <p class="card-text">This is the third Convo.</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 g-4">
            <div class="card p-2">
                <div class="card-body">
                    <h5 class="card-title">Convo 4</h5>
                    <p class="card-text">This is the fourth Convo.</p>
                </div>
            </div>
        </div>

    </div>

</div> --}}
<div class="text-center">
    <h1>Convo</h1>
    <div id="imageContainer">
        <img id="currentImage" src="/images/purple-bear.jpg" alt="Profile Icon">
    </div>
</div>


<script src="./js/profile.js"></script>