<div class="text-center">
    <h1>Convo</h1>
    <div id="imageContainer">
        <img id="currentImage" src="/images/purple-bear.jpg" alt="Profile Icon">
    </div>

    <div class="font-styling">
        <!--Current users name god here 
    <h2>{..??..}</h2>-->
    </div>

    <br />
    <br />
    <div id="friends-container"></div>
</div>


<script src="./js/profile.js"></script>