<div class="col-md-6">
    <h2 class="font-styling">Search</h2>

    <form class="form search-form">
      <div class="form-group">
        <label for="user-search">Search user by e-mail:</label>
        <input class="form-input" type="text" id="user-search" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Search</button>
      </div>
    </form>
  </div>

  <div id="user-container"></div>
  
  <script src="./js/search.js"></script>